
      <div id="header-div">
            <h4><roundcube:label name="AIComposePlugin.ai_options_title" /></h4>
      </div>
      <div class="select-div">
      <div class="single-select">
            <label for="style">
                  <span class="regular-size"><roundcube:label name="AIComposePlugin.ai_label_style" /></span>
            </label>
            <span class="xinfo right"><div><roundcube:label name="AIComposePlugin.ai_tip_style" /></div></span>
      <roundcube:object name="aistyleselect" xmlns:roundcube="http://www.w3.org/1999/xhtml" />
      </div>
      <div class="single-select">
            <label for="length">
                  <span class="regular-size"><roundcube:label name="AIComposePlugin.ai_label_length" /></span>
            </label>
            <span class="xinfo right"><div><roundcube:label name="AIComposePlugin.ai_tip_length" /></div></span>
      <roundcube:object name="ailengthselect" xmlns:roundcube="http://www.w3.org/1999/xhtml" />
      </div>
      <div class="single-select">
            <label for="creativity">
                  <span class="regular-size"><roundcube:label name="AIComposePlugin.ai_label_creativity" /></span>
            </label>
            <span class="xinfo right"><div><roundcube:label name="AIComposePlugin.ai_tip_creativity" /></div></span>
      <roundcube:object name="aicreativityselect" xmlns:roundcube="http://www.w3.org/1999/xhtml" />
      </div>
      <div class="single-select">
            <label for="language">
                  <span class="regular-size"><roundcube:label name="AIComposePlugin.ai_label_language" /></span>
            </label>
            <span class="xinfo right"><div><roundcube:label name="AIComposePlugin.ai_tip_language" /></div></span>
      <roundcube:object name="ailanguageselect" xmlns:roundcube="http://www.w3.org/1999/xhtml" />
      </div>
</div>


