<div>
      <div id="header-div" class="header-title all-sizes">
            <span><strong><roundcube:label name="AIComposePlugin.ai_options_title" /></strong></span>
      </div>
      <div class="select-div">
      <div class="single-select">
            <div class="select-label">
            <label for="style">
                  <span class="regular-size"><roundcube:label name="AIComposePlugin.ai_label_style" /></span>
            </label>
            <span class="xinfo right"><div><roundcube:label name="AIComposePlugin.ai_tip_style" /></div></span>
            </div>
            <div class="select-option">
      <roundcube:object name="aistyleselect" xmlns:roundcube="http://www.w3.org/1999/xhtml" />
            </div>
      </div>
      <div class="single-select">
            <div class="select-label">
            <label for="length">
                  <span class="regular-size"><roundcube:label name="AIComposePlugin.ai_label_length" /></span>
            </label>
            <span class="xinfo right"><div><roundcube:label name="AIComposePlugin.ai_tip_length" /></div></span>
            </div>
            <div class="select-option">
      <roundcube:object name="ailengthselect" xmlns:roundcube="http://www.w3.org/1999/xhtml" />
            </div>
      </div>
      <div class="single-select">
            <div class="select-label">
                  <label for="creativity">
                        <span class="regular-size"><roundcube:label name="AIComposePlugin.ai_label_creativity" /></span>
                  </label>

                  <span class="xinfo top right">
                        <div>

                  <roundcube:label name="AIComposePlugin.ai_tip_creativity" />
                        </div>
            </span>
            </div>
         <div class="select-option">
      <roundcube:object name="aicreativityselect" xmlns:roundcube="http://www.w3.org/1999/xhtml" />
         </div>
      </div>
      <div class="single-select">
            <div class="select-label">
                  <label for="language">
                        <span class="regular-size"><roundcube:label name="AIComposePlugin.ai_label_language" /></span>
                  </label>
            <span class="xinfo top right"><div><roundcube:label name="AIComposePlugin.ai_tip_language" /></div></span>
            </div>
         <div class="select-option">
      <roundcube:object name="ailanguageselect" xmlns:roundcube="http://www.w3.org/1999/xhtml" />
         </div>
      </div>
</div>

</div>
