<!--<div id="aic-instructions-div" class="form-group row">-->
<!--  <label for="_to"  id="instruction-label" class="col-2 col-form-label"><roundcube:label name="AIComposePlugin.ai_label_instructions" /></label>-->
<!--  <div class="col-10">-->
<!--    <div class="input-group">-->
<!--      <textarea name="aic-instructions" spellcheck="false" id="aic-instructions-textarea" tabindex="-1" data-recipient-input="true" style="position: absolute; opacity: 0; left: -5000px; width: 10px;" autocomplete="off" aria-autocomplete="list" aria-expanded="false" role="combobox"></textarea>-->
<!--      <span class="input-group-append">-->
<!--								<a href="#"  class="input-group-text add icon" title="Placeholder" tabindex="1"><span class="inner">Placeholder</span></a>-->
<!--							</span>-->
<!--      <span class="input-group-append">-->
<!--								<a href="#" data-popup="headers-menu" class="input-group-text icon add active" title="PLACEHOLDER" tabindex="1" aria-haspopup="true" aria-expanded="false" aria-owns="headers-menu" data-original-title="PLACEHOLDER"><span class="inner">PLACEHOLDER</span></a>-->
<!--							</span>-->
<!--    </div>-->
<!--  </div>-->

<roundcube:object name="aiStyleSelect" xmlns:roundcube="http://www.w3.org/1999/xhtml" />
<!--</div>-->

<!--<div class="form-group row">-->
<!--  <label for="compose-priority2" class="col-form-label col-6"><roundcube:label name="priority" /></label>-->
<!--  <div class="col-6">-->
<!--    <roundcube:object name="prioritySelector" id="compose-priority2" noform="true" tabindex="2" class="custom-select" />-->
<!--  </div>-->
<!--</div>-->