<div class="xdialog-mask" hidden id="aic-fix-text-modal-mask">
  <div class="xdialog-box full-screen"  id="aic-fix-text-modal" >
    <div class="xdialog-title">
      <roundcube:label name="AIComposePlugin.ai_dialog_title" />
      <roundcube:button command="closefixtextmodal"  class="xdialog-close btn btn-secondary"/>x</div>
    <div id="aic-fix-text-section-test">
      <div class="fix-text-header">
        <roundcube:button command="closefixtextmodal"  class="btn btn-primary" label="AIComposePlugin.ai_help_button_back" class="aic-back-button"/>
        <h3>  <roundcube:label name="AIComposePlugin.ai_button_fix_selected_text" /></h3>
      </div>

      <div id="fix-text-wrapper-test">
        <div class="fix-select-section" id="fix-text-instructions-test">
          <roundcube:label style="padding-bottom:5px" name="AIComposePlugin.ai_fix_instructions" />
          <span class="xinfo right"><div><roundcube:label name="AIComposePlugin.ai_fix_text_input_instructions" /></div></span>
          <textarea class="form-control" maxlength="500" name="fix-instructions" data-parsley-required="true" id="fix-instructions-test" cols="30" rows="10"></textarea>
        </div>
        <div id="aic-fix-text-button-div-test">
          <roundcube:button command="closefixtextmodal"  label="AIComposePlugin.ai_generate_again" class="xdialog-close btn btn-primary"/>
        </div>
        <div class="fix-select-section" id="fix-text-selected-test">
          <label for="selected-text">Selected Text</label>
          <div class="form-control" id="selected-text-test" contenteditable="false">


          </div>

        </div></div></div>
        </div></div>