<div id="fix-text-tooltip" xmlns:roundcube="http://www.w3.org/1999/html">

  <div>
<h5><roundcube:label name="AIComposePlugin.ai_button_fix_selected_text"/> </h5>
  </div>
  <div id="input-button-pair">
    <div class="input-group" id="custom-input-group">
      <roundcube:object name="aicinstruction" part="to" class=" form-control" id="aic-instruction" form="form" tabindex="1" aria-required="true" data-recipient-input="true" />
      <span class="input-group-append">
        <roundcube:object name="sendfix"  />
							</span>
    </div>
  </div>

</div>