<div class="xdialog-mask" hidden id="aic-compose-help-modal-mask">
<div class="xdialog-box full-screen"  id="aic-compose-help-modal" >
  <div class="xdialog-title">
    <roundcube:label name="AIComposePlugin.ai_dialog_title" />
    <roundcube:button command="closehelpexamples"  class="xdialog-close btn btn-secondary"/>x</div>
  <div class="xdialog-contents">
  <div id="aic-compose-help">
    <div class="help-header">
  <roundcube:button type="button" command="closehelpexamples"  class="btn btn-primary" label="AIComposePlugin.ai_help_button_back" id="aic-back-button"/>
  <h3 id="help-title"><roundcube:label name="AIComposePlugin.ai_help_title" /></h3>

</div>
  <div class="help-content">
    <p><roundcube:label name="AIComposePlugin.ai_help_info" /></p>
    <ul>
      <li id="xai-help-example-1">
        <span><roundcube:label name="AIComposePlugin.ai_help_example_1" /></span> <a  class="help-a"><roundcube:label name="AIComposePlugin.ai_help_use_example" /></a>
      </li>
      <li id="xai-help-example-2">
        <span><roundcube:label name="AIComposePlugin.ai_help_example_2" /></span>
        <a  class="help-a"><roundcube:label name="AIComposePlugin.ai_help_use_example" /></a>
      </li>
      <li id="xai-help-example-3">
        <span><roundcube:label name="AIComposePlugin.ai_help_example_3" /></span>
        <a  class="help-a"><roundcube:label name="AIComposePlugin.ai_help_use_example" /></a>
      </li>
      <li id="xai-help-example-4"><span><roundcube:label name="AIComposePlugin.ai_help_example_4" /></span>
        <a  class="help-a"><roundcube:label name="AIComposePlugin.ai_help_use_example" /></a>
      </li>
      <li id="xai-help-example-5">
        <span><roundcube:label name="AIComposePlugin.ai_help_example_5" /></span>
        <a  class="help-a"><roundcube:label name="AIComposePlugin.ai_help_use_example" /></a>
      </li>
      <li id="xai-help-example-6">
        <span><roundcube:label name="AIComposePlugin.ai_help_example_6" /></span>
        <a  class="help-a"><roundcube:label name="AIComposePlugin.ai_help_use_example" /></a>
      </li>
      <li id="xai-help-example-7">
        <span><roundcube:label name="AIComposePlugin.ai_help_example_7" /></span>
        <a  class="help-a"><roundcube:label name="AIComposePlugin.ai_help_use_example" /></a>
      </li>
      <li id="xai-help-example-8">
        <span><roundcube:label name="AIComposePlugin.ai_help_example_8" /></span>
        <a  class="help-a"><roundcube:label name="AIComposePlugin.ai_help_use_example" /></a>
      </li><li id="xai-help-example-9">
      <span><roundcube:label name="AIComposePlugin.ai_help_example_9" /></span>
      <a  class="help-a"><roundcube:label name="AIComposePlugin.ai_help_use_example" /></a>
    </li>
      <li id="xai-help-example-10">
        <span><roundcube:label name="AIComposePlugin.ai_help_example_10" /></span>
        <a  class="help-a"><roundcube:label name="AIComposePlugin.ai_help_use_example" /></a>
      </li>
      <li id="xai-help-example-11">
        <span><roundcube:label name="AIComposePlugin.ai_help_example_11" /></span>
        <a  class="help-a"><roundcube:label name="AIComposePlugin.ai_help_use_example" /></a>
      </li>
      <li id="xai-help-example-12">
        <span><roundcube:label name="AIComposePlugin.ai_help_example_12" /></span>
        <a  class="help-a"><roundcube:label name="AIComposePlugin.ai_help_use_example" /></a>
      </li>
      <li id="xai-help-example-13">
        <span><roundcube:label name="AIComposePlugin.ai_help_example_13" /></span>
        <a  class="help-a"><roundcube:label name="AIComposePlugin.ai_help_use_example" /></a>
      </li>
      <li id="xai-help-example-14">
        <span><roundcube:label name="AIComposePlugin.ai_help_example_14" /></span>
        <a  class="help-a"><roundcube:label name="AIComposePlugin.ai_help_use_example" /></a>
      </li>
      <li id="xai-help-example-15">
        <span><roundcube:label name="AIComposePlugin.ai_help_example_15" /></span>
        <a  class="help-a"><roundcube:label name="AIComposePlugin.ai_help_use_example" /></a>
      </li>
      <li id="xai-help-example-16">
        <span><roundcube:label name="AIComposePlugin.ai_help_example_16" /></span>
        <a  class="help-a"><roundcube:label name="AIComposePlugin.ai_help_use_example" /></a>
      </li>
      <li id="xai-help-example-17">
        <span><roundcube:label name="AIComposePlugin.ai_help_example_17" /></span>
        <a  class="help-a"><roundcube:label name="AIComposePlugin.ai_help_use_example" /></a>
      </li>
      <li id="xai-help-example-18">
        <span><roundcube:label name="AIComposePlugin.ai_help_example_18" /></span>
        <a  class="help-a"><roundcube:label name="AIComposePlugin.ai_help_use_example" /></a>
      </li>
    </ul>
  </div></div></div></div></div>