
<div id="predefined-instructions" class="popupmenu" >
  <h3 id="aria-label-headersmenu" class="voice"><roundcube:label name="arialabelheadersmenu" /></h3>
  <ul class="menu listing rounded-0" id="predefined-instructions-dropdown" role="menu" aria-labelledby="aria-label-headersmenu">
    <li role="separator" class="separator"><label><roundcube:label name="AIComposePlugin.ai_predefined_use_instructions" /></label></li>
    <roundcube:object name="aicinstructiondropdown"  id="aic-instruction-dropdown" />
    <li role="separator" class="separator"><label><roundcube:label name="AIComposePlugin.ai_predefined_manage_instructions"/></label></li>
    <li role="menuitem"><a class="recipient active" onclick="return rcmail.command('switch-task', 'settings/plugin.basepredefinedinstructions')" role="button" href="#"><roundcube:label name="AIComposePlugin.ai_predefined_edit_instructions"/></a></li>
  </ul>
</div>