AIC_ROUNDCUBE_DB_URL=mysql://roundcube:change-me@database:3306/roundcube
AIC_IMAP_HOST=dovecot
AIC_IMAP_PORT=993
# AIC_IMAP_CA_FILE=/etc/ssl/certs/your-internal-ca.pem
AIC_IMAP_MASTER_USER=ask-mail-indexer
AIC_IMAP_MASTER_PASSWORD=change-me
AIC_IMAP_MASTER_SEPARATOR=*
AIC_SOLR_URL=http://solr:8983/solr/aicompose_mail_vectors
AIC_OLLAMA_URL=http://ollama:11434
AIC_EMBED_MODEL=qwen3-embedding:0.6b
AIC_TIKA_URL=http://tika:9998
AIC_STATE_PATH=/data/ask-mail.sqlite3
AIC_BATCH_PER_FOLDER=30
AIC_UID_WINDOW=1000
AIC_SCAN_INTERVAL_SECONDS=60
AIC_MAX_MESSAGE_BYTES=31457280
AIC_MAX_ATTACHMENT_BYTES=20971520
