// This file adds icons to RC+ skins only (body class .xskin)
// It does not apply to Larry itself.

@import "_icons";

.xskin {
    &.xdesktop {
        #taskbar{
            a:before { @include icon($generic); font-size: 1.5em; } // default icon and size for taskbar
            a.button-mail:before { @include icon($mail); }
            a.button-addressbook:before { @include icon($user); }
            a.button-calendar:before { @include icon($calendar); }
            a.button-help:before { @include icon($help); }
            a.button-xresell:before { @include icon($plusSquare); }
            a.button-apps:before { @include icon($plusSquare); }
            a.button-settings:before { @include icon($wrench); }
            a.button-logout:before { @include icon($logout); }
            .minmodetoggle:before { @include icon($caretUp); }
        }

        #topnav a.button-interface-options:before { @include icon($monitor); }
        #topnav a.button-cloud:before { @include icon($cloud); }
        #topnav a.button-tasklist:before { @include icon($spellcheck); }
        #topnav a.button-cpwebmail:before { @include icon($cPanel); }

        .toolbar a.button:before { @include icon($generic); } // default icon and size for toolbar
        .toolbar a.button.checkmail:before { @include icon($refresh); }
        .toolbar a.button.compose:before { @include icon($create); }
        .toolbar a.button.reply:before { @include icon($reply); }
        .toolbar a.button.reply-all:before { @include icon($replyAll); }
        .toolbar a.button.forward:before { @include icon($forward); }
        .toolbar a.button.delete:before { @include icon($trash); }
        .toolbar a.button.archive:before { @include icon($archive); }
        .toolbar a.button.junk:before { @include icon($junk); }
        .toolbar a.button.markmessage:before { @include icon($tag); }
        .toolbar a.button.more:before { @include icon($more); }
        .toolbar a.button.back:before { @include icon($arrowBack); }
        .toolbar a.button.close:before { @include icon($arrowBack); }
        .toolbar a.button.download:before { @include icon($download); }
        .toolbar a.button.move:before { @include icon($folder); }
        .toolbar a.button.print:before { @include icon($print); }
        .toolbar a.button.send:before { @include icon($send); }
        .toolbar a.button.send.schedule:before { @include icon($emailSchedule); }
        .toolbar a.button.scheduled:before { @include icon($scheduleList); }
        .toolbar a.button.savedraft:before { @include icon($save); }
        .toolbar a.button.spellcheck:before { @include icon($spellcheck); }
        .toolbar a.button.attach:before { @include icon($attachment); }
        .toolbar a.button.insertsig:before { @include icon($signature); }
        .toolbar a.button.responses:before { @include icon($bookmark); }
        .toolbar a.button.vcard_send:before { @include icon($vcard); }
        .toolbar a.button.import:before { @include icon($import); }
        .toolbar a.button.export:before { @include icon($export); }
        .toolbar a.button.search:before { @include icon($search); }
        .toolbar a.button.markasjunk2:before { @include icon($junk); }
        .toolbar a.button.markasjunk2Sel:before { @include icon($junk); }
        .toolbar a.button.markasnotjunk2:before { @include icon($notjunk); }
        .toolbar a.button.enigma:before { @include icon($lock); }
        .toolbar a.button.encrypt:before { @include icon($lock); }
        .toolbar a.button.message-list-sort:before { @include icon($sortAsc); }
        .toolbar a#tb_label_popuplink:before { @include icon($labelDots); }

        .toolbarmenu.selectable li a.selected:before { @include icon($check); }
        .dropbutton .dropbuttontip:before { @include icon($caretDown); }
        div.expanded:before { @include icon($minus); }
        div.collapsed:before { @include icon($plus); }
        a.menuselector:after { @include icon($caretDown); }

        .boxfooter .listbutton.groupactions:before { @include icon($gear); font-size: 1.6em; }
        .boxfooter .listbutton.add:before { @include icon($plus); font-size: 1.6em; }
        .boxfooter .listbutton.delete:before { @include icon($times); font-size: 1.6em; }
        .boxfooter .listbutton.removegroup:before { @include icon($unlink); font-size: 1.6em; }

        .boxpagenav a.icon.firstpage:before { @include icon($firstPage); }
        .boxpagenav a.icon.lastpage:before { @include icon($lastPage); }
        .boxpagenav a.icon.prevpage:before { @include icon($prevPage); }
        .boxpagenav a.icon.nextpage:before { @include icon($nextPage); }
        .compose-headers .iconbutton.cancel:before { @include icon($times); }
        .records-table tr td.threads div.listmenu:before,
        .records-table tr th.threads a.listmenu:before { @include icon($gear); }
        .records-table thead tr .status span.status:before { @include icon($star); }
        .records-table thead tr .priority span.priority:before { @include icon($exclamation); }
        .messagelist tr:hover td.status span:before { @include icon($star); color: #bbb !important; }
        .messagelist tr:hover .flag span:before { @include icon($flag); color: #bbb; }
        .messagelist tr .status span.unread:before { @include icon($star); }
        .messagelist tr .flag span.flagged:before { @include icon($flag); }
        .messagelist tr .attachment span.attachment:before { @include icon($attachment); }
        .messagelist tr .attachment span.report:before { @include icon($textFile); }
        .messagelist tr .priority span.prio1:before { @include icon($arrowUpCircle); }
        .messagelist tr .priority span.prio2:before { @include icon($arrowUpCircle); }
        .messagelist tr .priority span.prio4:before { @include icon($arrowDownCircle); }
        .messagelist tr .priority span.prio5:before { @include icon($arrowDownCircle); }
        .messagelist tr td.status span.deleted:before { @include icon($times); }
        .messagelist tr td.status span.unreadchildren:before { @include icon($star); }
        .messagelist tr td.subject span.deleted:before { @include icon($times); }
        .messagelist tr td.subject span.unread:before { @include icon($star); }
        .messagelist tr td.subject span.replied:before { @include icon($reply); }
        .messagelist tr td.subject span.forwarded:before { @include icon($forward); }
        .messagelist tr td.subject span.replied.forwarded:before { @include icon($repliedForwarded); }
        .messagelist tr td.subject span.unreadchildren:before { @include icon($star); }
        .records-table thead tr .sortedASC a:after { @include icon($sortAsc); }
        .records-table thead tr .sortedDESC a:after { @include icon($sortDesc); }
        #messagestack div:after { @include icon($exclamation); }
        #messagestack div.error:after { @include icon($times); }
        #messagestack div.warning:after { @include icon($exclamation); }
        #messagestack div.confirmation:after { @include icon($check); }
        #searchmenulink:before { @include icon($search); }
        #quicksearchbar #searchmenulink:before { @include icon($search); white-space: nowrap; }
        #searchreset:before { @include icon($times); }
        #maillistmode:before { @include icon($bars); }
        #mailthreadmode:before { @include icon($speechBubble); }
        .fullheight #mailpreviewtoggle:before { @include icon($arrowUp); }
        #mailpreviewtoggle:before { @include icon($arrowDown); }
        #custom-login-submit:before { @include icon($arrowRightCircle); }

        #xsidebar-button:before { @include icon($caretRight); }
        &.xsidebar-visible #xsidebar-button:before { @include icon($caretLeft); }

        .mailbox > a:before { @include icon($folder); }
        .mailbox.inbox > a:before { @include icon($inbox); }
        .mailbox.sent > a:before { @include icon($folder); }
        .mailbox.drafts > a:before { @include icon($create); }
        .mailbox.trash > a:before { @include icon($trash); }
        .mailbox.archive > a:before { @include icon($archive); }
        .mailbox.junk > a:before { @include icon($junk); }
        .mailbox.spam > a:before { @include icon($junk); }

        // plugins
        #helptoolbar a.button.help:before { @include icon($help); }
        #helptoolbar a.button.about:before { @include icon($question); }
        #helptoolbar a.button.license:before { @include icon($list); }
        #notestoolbar a.button#newnote:before { @include icon($create); }
        #notestoolbar a.button#addnote:before { @include icon($export); }
        .edit-alarm-buttons a.add-alarm:before { @include icon($plusCircle); }
        .edit-alarm-buttons a.delete-alarm:before { @include icon($minusCircle); }
    }

    &.xdesktop.minimal #taskbar .minmodetoggle:before { @include icon($caretDown); }

    &.xdesktop.xvertical-preview {
        .fullheight #mailpreviewtoggle:before { @include icon($arrowLeft); }
        #mailpreviewtoggle:before { @include icon($arrowRight); }
    }

    &.skin-icloud #login-form {
        .box-bottom #message div.warning:before { @include icon($exclamation); }
        .box-bottom #message div.error:before { @include icon($exclamation); }
        .box-bottom #message div.loading:before { @include icon($information); }
        .box-bottom #message div.notice:before { @include icon($information); }
    }

    &.xmobile {
        #main-menu a span:before { @include icon($generic); font-size: 2em; }
        #main-menu #button-taskbar span:before { @include icon($bars); }
        #main-menu #button-mail-back span:before { @include icon($arrowLeftCircle); }
        #main-menu #button-compose-settings span:before { @include icon($gear); }
        #main-menu #button-send span:before { @include icon($send); }
        #main-menu #button-reply span:before { @include icon($reply); }
        #main-menu #button-toolbar span:before { @include icon($options); }
        #main-menu #button-format span:before { @include icon($code); }
        #main-menu #button-compose span:before { @include icon($create); }
        #main-menu #button-users span:before { @include icon($user); }
        #main-menu #button-folders span:before { @include icon($folder); }
        #main-menu #button-mail span:before { @include icon($options); }
        #main-menu #button-funnel span:before { @include icon($gear); }
        .popup-close a:before  { @include icon($chevronLeftCircle); font-size: 2em; }
        .toolbarmenu.selectable li a.selected:before { @include icon($check); }

        #mailboxlist li div.collapsed:before,
        #directorylist li.addressbook div.collapsed:before,
        div.collapsed:before { @include icon($caretRight); font-size: 2em; }

        #mailboxlist li div.expanded:before,
        #directorylist li.addressbook div.expanded:before,
        div.expanded:before { @include icon($caretDown); font-size: 2em; }

        #messagelist td.subject:before { @include icon($check); }
        #messagelist td.flag span.flagged:before { @include icon($flag); }
        #messagelist td.status span.unread:before { @include icon($star); }
        #messagelist td.attachment span.attachment:before { @include icon($attachment); }
        #messagelist td.attachment span.report:before { @include icon($textFile); }
        #messagelist td.subject span.msgicon.replied:before { @include icon($reply); }
        #messagelist td.subject span.msgicon.forwarded:before { @include icon($forward); }
        #messagelist td.subject span.msgicon.replied.forwarded:before { @include icon($repliedForwarded); }
        .moreheaderstoggle.remove .iconlink:before { @include icon($chevronUp); }
        .moreheaderstoggle .iconlink:before { @include icon($chevronDown); }
        #full-headers .more-headers.show-headers:before { @include icon($chevronDownCircle); }
        #full-headers .more-headers.hide-headers:before { @include icon($chevronUpCircle); }
        #attachment-list .delete:before { @include icon($times); }
        #attachment-list .drop:before { @include icon($chevronDownCircle); }
        .rcmaddcontact:before { @include icon($user); }
        .settings-button:nth-child(3) span:before  { @include icon($wrench); }
        .settings-button:nth-child(4) span:before  { @include icon($gridLarge); }
        #messagestack div:after { @include icon($exclamation); }
        #messagestack div.error:after { @include icon($times); }
        #messagestack div.warning:after { @include icon($exclamation); }
        #messagestack div.confirmation:after { @include icon($check); }
        #messagestack div.loading:after { content: ""; }
        a.firstpage:before { @include icon($firstPage); }
        a.prevpage:before { @include icon($prevPage); }
        a.nextpage:before { @include icon($nextPage); }
        a.lastpage:before { @include icon($lastPage); }
        #messageheader .pagenav a.prevpage:before { @include icon($arrowUp); }
        #messageheader .pagenav a.nextpage:before { @include icon($arrowDown); }
        #login-menu-button:before { @include icon($bars); }
        #custom-login-submit:before { @include icon($arrowRightCircle); }

        #groupoptionslink span.inner:before  { @include icon($gear); }
        #keyoptionslink span.inner:before  { @include icon($gear); }
        a.listbutton.add span.inner:before { @include icon($plus); }
        a.listbutton.delete span.inner:before { @include icon($minus); }
        a.listbutton.removegroup span.inner:before { @include icon($unlink); }

        #quotadisplay:before { @include icon($disk); }

        // gestures
        .message-action-links a.mal-flag:before { @include icon($flagEmpty); }
        .message-action-links a.mal-unflag:before { @include icon($flag); }
        .message-action-links a.mal-more:before { @include icon($bars); }
        .message-action-links a.mal-delete:before { @include icon($times); }
        .message-action-read:before { @include icon($envelopeClosed); }
        .message-action-read.unread:before { @include icon($envelopeOpen); }
        #mainscreen.refresh:before { @include icon($refresh); }
        #mainscreen.progress:before { @include icon($refresh); }
        #mailview-right.gesture-pan.prev:before  { @include icon($arrowLeft); }
        #mailview-right.gesture-pan.next:before  { @include icon($arrowRight); }
        #mailview-right.gesture-pan.disabled:before  { @include icon($forbidden); }

        // plugins
        #filtersetmenulink:before,
        #filtermenulink:before { @include icon($gear); }

        #helptoolbar a.button.help:before  { @include icon($help); }
        #helptoolbar a.button.about:before  { @include icon($question); }
        #helptoolbar a.button.license:before  { @include icon($list); }
    }
}