
// icon ranges
$xicons-solid: 0;
$xicons-traditional: 1;
$xicons-outlined: 2;
$xicons-material: 3;
$xicons-cartoon: 4;

// icon ids
$arrowLeft: 0;
$arrowRight: 1;
$arrowUp: 2;
$arrowDown: 3;
$arrowLeftCircle: 4;
$arrowRightCircle: 5;
$arrowUpCircle: 6;
$arrowDownCircle: 7;
$chevronLeft: 8;
$chevronRight: 9;
$chevronUp: 10;
$chevronDown: 11;
$chevronLeftCircle: 12;
$chevronRightCircle: 13;
$chevronUpCircle: 14;
$chevronDownCircle: 15;
$caretLeft: 16;
$caretRight: 17;
$caretUp: 18;
$caretDown: 19;
$firstPage: 20;
$prevPage: 21;
$nextPage: 22;
$lastPage: 23;
$times: 24;
$timesCircle: 25;
$plus: 26;
$plusSquare: 27;
$plusCircle: 28;
$minus: 29;
$minusSquare: 30;
$minusCircle: 31;
$check: 32;
$checkSquare: 33;
$sortAsc: 34;
$sortDesc: 35;
$exclamation: 36;
$information: 37;
$question: 38;
$import: 39;
$export: 40;
$gridLarge: 41;
$gridSmall: 42;
$list: 43;
$mail: 44;
$user: 45;
$wrench: 46;
$gear: 47;
$logout: 48;
$refresh: 49;
$reply: 50;
$replyAll: 51;
$forward: 52;
$archive: 53;
$trash: 54;
$recycle: 55;
$tag: 56;
$more: 57;
$download: 58;
$folder: 59;
$print: 60;
$send: 61;
$save: 62;
$spellcheck: 63;
$attachment: 64;
$create: 65;
$edit: 66;
$signature: 67;
$bookmark: 68;
$vcard: 69;
$search: 70;
$bars: 71;
$code: 72;
$unlink: 73;
$star: 74;
$flag: 75;
$flagEmpty: 76;
$textFile: 77;
$repliedForwarded: 78;
$speechBubble: 79;
$forbidden: 80;
$clock: 81;
$share: 82;
$circleEmpty: 83;
$calendar: 84;
$calendarShort: 85;
$calendarList: 86;
$calendarDay: 87;
$help: 88;
$repeat: 89;
$options: 90;
$generic: 91;
$lock: 92;
$envelopeClosed: 93;
$envelopeOpen: 94;
$monitor: 95;
$sortAsc: 96;
$sortDesc: 97;
$inbox: 98;
$spinner: 99;
$picture: 100;
$dropbox: 101;
$google: 102;
$userCircle: 103;
$newspaper: 104;
$sun: 105;
$home: 106;
$sidebar: 107;
$columns: 108;
$skin: 109;
$alignLeft: 110;
$alignCenter: 111;
$alignRight: 112;
$dot: 113;
$disk: 114;
$junk: 115;
$notjunk: 116;
$dotMenu: 117;
$filter: 118;
$newWindow: 119;
$starEmpty: 120;
$move: 121;
$copy: 122;
$addUser: 123;
$removeUser: 124;
$qrcode: 125;
$addressBook: 126;
$verticalMenu: 127;
$zoomIn: 128;
$zoomOut: 129;
$lightbulb: 130;
$compress: 131;
$link: 132;
$users: 133;
$shield: 134;
$login: 135;
$key: 136;
$undo: 137;
$bell: 138;
$eye: 139;
$rss: 140;
$labelDots: 141;
$cloud: 142;
$connections: 143;
$emailSchedule: 144;
$scheduleList: 145;
$repliedForwarded: 146;
$cPanel: 147;
$phone: 148;
$yubikey: 149;
$lightMode: 150;
$darkMode: 151;
$googleDrive: 152;
$robot: 153;
$eraser: 154;
$box: 155;
$world: 156;

// aliases: these can be changed in the icons font if need be (icons_ios, icons_awesome)
$arrowBack: $arrowLeftCircle;
