#aicp-prompt-open-button::before {
  content: "\f544";
}

#popup{
  position: absolute;
  display: none;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Popover je iznad ostalih elemenata */
}


#aic-predefined-instructions-button-li{
  position: relative; /* A postaje referenca za popover */

}

